<div class="middle-pos">

	<h2 class="text-orange text-large top-pad">The beauty of data</h2>
	<h6 class="text-white"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h6>
	<p class="text-white text-smaller">Vakkert i seg selv. Viktig for den det gjelder.</p>
	<h6 class="text-white"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h6>

	<br><br><br>

	<div class="text-white text-smaller">
		<p>	Takk for din påmelding! </p>
		<p>Hvis du vinner tar vi kontakt ved hjelp av kontaktinformasjonen du har oppgitt.</p>
	</div>
	<br>

	<a href="#/partial-start"class="btn btn-def-bouvet" name="menuButton">
		<span class="glyphicon glyphicon-repeat">
		</span>
		Ny undersøkelse
	</a>

	<br><br><br>

	<div class="logo-bottom-bouvet-absolute">
		<img src="./photos/logo1.png">
	</div>
</div>