		<div class="text-large text-orange"> &nbsp <img src="./photos/logo3.png"> </div>
		<br>


		<form action="/answers" method="post" name="userForm" role="form" novalidate>
			



			<div class="container">





				<div class="col-sm-3 container">
					<div class="btn-group-vertical col-bottom-border" id="kjonn" data-toggle="buttons">
						<div class="header-question"> Kjønn: </div><br>
						
						<label class="btn btn-response" name="mann">
							<input type="radio" name="kjonn" value="mann">Mann<br>
						</label>
						<label class="btn btn-response" name="kvinne">
							<input type="radio" name="kjonn" value="kvinne">Kvinne<br>
						</label>
						<br>
					</div>
					<br><br>



					<div class="btn-group-vertical col-bottom-border" id="sivilstatus" data-toggle="buttons">
						<div class="header-question"> Sivilstatus: </div><br>
						<label class="btn btn-response" name="gift/samboer">
							<input type="radio" name="sivilstatus" value="gift/samboer">Gift/Samboer<br>
						</label>
						<label class="btn btn-response" name="skilt">
							<input type="radio" name="sivilstatus" value="skilt">Skilt<br>
						</label>
						<label class="btn btn-response" name="singel">
							<input type="radio" name="sivilstatus" value="singel">Singel<br>
						</label>
						<label class="btn btn-response" name="complicated">
							<input type="radio" name="sivilstatus" value="complicated">It's complicated<br>
						</label>
						<br>
					</div>	
					<br><br><br>



					<div class="btn-group-vertical" id="alder" data-toggle="buttons">
						<div class="header-question"> Alder: </div><br>
						<label class="btn btn-response" name="youngster">
							<input type="radio" name="alder" value="youngster">Youngster<br>
						</label>
						<label class="btn btn-response" name="coolcat">
							<input type="radio" name="alder" value="coolcat">Cool Cat<br>
						</label>
						<label class="btn btn-response" name="hipster">
							<input type="radio" name="alder" value="hipster">Hipster<br>
						</label>
						<label class="btn btn-response" name="gammelringrev">
							<input type="radio" name="alder" value="gammelringrev">Gammel Ringrev<br>
						</label>
					</div>
				</div>












				<div class="col-sm-3 container col-left-border">
					<div class="btn-group-vertical col-bottom-border" id="pa_hodet" data-toggle="buttons">
						<div class="header-question"> På hodet: </div><br>
						<label class="btn btn-response" name="caps">
							<input type="radio" name="pa_hodet" value="caps">Caps<br>
						</label>
						<label class="btn btn-response" name="turban">
							<input type="radio" name="pa_hodet" value="turban">Turban<br>
						</label>
						<label class="btn btn-response" name="hette">
							<input type="radio" name="pa_hodet" value="hette">Hette<br>
						</label>
						<label class="btn btn-response" name="hjelm">
							<input type="radio" name="pa_hodet" value="hjelm">Hjem<br>
						</label>
						<label class="btn btn-response" name="solbriller">
							<input type="radio" name="pa_hodet" value="solbriller">Solbriller<br>
						</label>
						<label class="btn btn-response" name="hijab">
							<input type="radio" name="pa_hodet" value="hijab">Hijab<br>
						</label>
						<br>
					</div>
					<br><br>



					<div class="btn-group-vertical col-bottom-border" id="studiested" data-toggle="buttons">
						<div class="header-question"> Studiested: </div><br>
						<label class="btn btn-response" name="ntnu">
							<input type="radio" name="studiested" value="ntnu">NTNU<br>
						</label>
						<label class="btn btn-response" name="selvlaertrover">
							<input type="radio" name="studiested" value="selvlaertrover">Selvlært Røver<br>
						</label>
						<label class="btn btn-response" name="annet">
							<input type="radio" name="studiested" value="annet">Annet<br>
						</label>
						<br>
					</div>
					<br><br>



					<div class="btn-group-vertical" id="programmeringsstil" data-toggle="buttons">
						<div class="header-question"> Programmeringsstil: </div><br>
						<label class="btn btn-response" name="batenblirtil">
							<input type="radio" name="programmeringsstil" value="batenblirtil">Båten blir til mens man ror<br>
						</label>
						<label class="btn btn-response" name="detordnerseg">
							<input type="radio" name="programmeringsstil" value="detordnerseg">Det ordner seg<br>
						</label>
						<label class="btn btn-response" name="ordenungmusssein">
							<input type="radio" name="programmeringsstil" value="ordenungmusssein">Ordenung Muss Sein<br>
						</label>
					</div>
				</div>
				











				<div class="col-sm-3 container col-left-border">
					
					<div class="btn-group-vertical col-bottom-border" id="musikk" data-toggle="buttons">
						<div class="header-question"> Musikk: </div><br>
						<label class="btn btn-response" name="indie">
							<input type="radio" name="musikk" value="indie">Indie<br>
						</label>
						<label class="btn btn-response" name="trash">
							<input type="radio" name="musikk" value="trash">Trash<br>
						</label>
						<label class="btn btn-response" name="disco">
							<input type="radio" name="musikk" value="disco">Disco<br>
						</label>
						<label class="btn btn-response" name="tronderrock">
							<input type="radio" name="musikk" value="tronderrock">Trønderrock<br>
						</label>
						<label class="btn btn-response" name="metal">
							<input type="radio" name="musikk" value="metal">Metal<br>
						</label>
						<label class="btn btn-response" name="rave">
							<input type="radio" name="musikk" value="rave">Rave<br>
						</label>
						<label class="btn btn-response" name="klassisk">
							<input type="radio" name="musikk" value="klassisk">Klassisk<br>
						</label>
						<br>
					</div>
					<br><br>


					<div class="btn-group-vertical col-bottom-border" id="personlighet" data-toggle="buttons">
						<div class="header-question"> Personlighet: </div><br>
						<label class="btn btn-response" name="introvert">
							<input type="radio" name="personlighet" value="introvert">Introvert<br>
						</label>
						<label class="btn btn-response" name="ekstrovert">
							<input type="radio" name="personlighet" value="ekstrovert">Ekstrovert<br>
						</label>
						<label class="btn btn-response" name="ekstrovertpluss">
							<input type="radio" name="personlighet" value="ekstrovertpluss">Ekstrovert med litt innabords
						</label>
						<br>
					</div>
					<br><br>


					<div class="btn-group-vertical" id="hypepreferanse" data-toggle="buttons">
						<div class="header-question"> Hype-preferanse: </div><br>
						<label class="btn btn-response" name="bigdata">
							<input type="radio" name="hypepreferanse" value="bigdata">Big Data<br>
						</label>
						<label class="btn btn-response" name="internetofthings">
							<input type="radio" name="hypepreferanse" value="internetofthings">Internet of Things<br>
						</label>
						<label class="btn btn-response" name="laerkidsakoding">
							<input type="radio" name="hypepreferanse" value="laerkidsakoding">Lær Kidsa Koding<br>
						</label>
						<br>
					</div>
				</div>













				<div class="col-sm-3 container col-left-border">
					<div class="btn-group-vertical col-bottom-border" id="planerforkvelden" data-toggle="buttons">
						<div class="header-question"> Planer for kvelden: </div><br>
						<label class="btn btn-response" name="endresivilstatus">
							<input type="radio" name="planer_for_kvelden" value="endresivilstatus">Endre sivilstatus<br>
						</label>
						<label class="btn btn-response" name="smiskemedsjefen">
							<input type="radio" name="planer_for_kvelden" value="smiskemedsjefen">Smiske med sjefen<br>
						</label>
						<label class="btn btn-response" name="mingle">
							<input type="radio" name="planer_for_kvelden" value="mingle">Mingle<br>
						</label>
						<label class="btn btn-response" name="kode">
							<input type="radio" name="planer_for_kvelden" value="kode">Kode<br>
						</label>
						<label class="btn btn-response" name="nytelivet">
							<input type="radio" name="planer_for_kvelden" value="nytelivet">Nyte livet<br>
						</label>
						<br>
					</div>		
					<br><br>



					<div class="btn-group-vertical col-bottom-border" id="favorittgode" data-toggle="buttons">
						<div class="header-question"> Favorittgode på jobb: </div><br>
						<label class="btn btn-response" name="fribar">
							<input type="radio" name="favorittgode" value="fribar">Fri bar på julebordet<br>
						</label>
						<label class="btn btn-response" name="gadgetkonto">
							<input type="radio" name="favorittgode" value="gadgetkonto">Gadgetkonto<br>
						</label>
						<label class="btn btn-response" name="kurskonferanse">
							<input type="radio" name="favorittgode" value="kurskonferanse">Kurs og konferanser<br>
						</label>
						<label class="btn btn-response" name="frikantine">
							<input type="radio" name="favorittgode" value="frikantine">Fri kantine<br>
						</label>
						<label class="btn btn-response" name="pensjon">
							<input type="radio" name="favorittgode" value="pensjon">Pensjon<br>
						</label>
						<br>
					</div>
					<br><br>


					<div class="btn-group-vertical" id="premie" data-toggle="buttons">
						<div class="header-question"> Premie hvis du vinner: </div><br>
						<label class="btn btn-response" name="moto360">
							<input type="radio" name="premie_hvis_du_vinner" value="moto360">Moto360<br>
						</label>
						<label class="btn btn-response" name="oculusrift">
							<input type="radio" name="premie_hvis_du_vinner" value="oculusrift">Oculus Rift<br>
						</label>
					</div>
				</div>


				<br>

			</div>


			<br>

			<div class="container">
				<input class="btn btn-def-bouvet" name="registerButton" type="submit" value="Registrer svar">
			</form>
		</div>
		<br><br>

		<br><br> value="moto360">Moto360<br>
						</label>
						<label class="btn btn-response" name="oculusrift">
							<input type="radio" name="premie_hvis_du_vinner" value="oculusrift">Oculus Rift<br>
						</label>
					</div>
				</div>


				<br>

			</div>


			<br>

			<div class="container">
				<input class="btn btn-def-bouvet" name="registerButton" type="submit" value="Registrer svar">
			</form>
		</div>
		<br><br>

		<br><br>