<div class="container-fluid">
	
	<div class="row top-pad-medium bottom-pad-small">
			<!--a button that takes you back to the menu -->
			<div class="col-sm-2 col-sm-offset-1">
				<a href="#/partial-index.html" name="menuButton" class="btn btn-def-bouvet">
					<span class="glyphicon glyphicon-home">
					</span>
					Tilbake til meny
				</a>
			</div>
						
			<div class="col-sm-2 col-sm-offset-2 text-smaller text-white top-pad-small" ng-show="viewAll">
				Totalt antall svar: {{answers.length}}
			</div>

			<div class="col-sm-4" ng-hide="viewAll"></div>

			<div class="col-sm-3 text-smaller text-white top-pad-small">
				Antall ubehandlede svar: {{numberOfUnprocessed}}
			</div>

			<div class="col-sm-2 text-smaller text-white top-pad-small">
				Index: {{startAnswers + 1}} - {{startAnswers + 10}}
			</div>
	</div>

	<div class="row">
		<!-- table displaying the contents of the database -->
		<table class="table table-hover bg-white">
			<thead>
				<tr>
					<th>Id</th>
					<th>Kjønn</th>
					<th>Sivilstatus</th>
					<th>Utdannelse</th>
					<th>Programmeringsstil</th>
					<th>Personlighet</th>
					<th>Hype-preferanse</th>
					<th>Musikk</th>
					<th>Type</th>
					<th>Favorittgode</th>
					<th>Planer for kvelden</th>
				</tr>
			</thead>
			<tbody class="listview">
				<!--the ng-class is used for dynamically assigning classes to the rows to give them different colors -->
				<tr ng-repeat="answer in answers 
				| answersFromTo:startAnswers:startAnswers +  limitAnswers 
				| orderBy:['id_answers']"
				ng-class="{
				warning: answer.locked === 1, 
				danger : answer.processed === 0 && answer.locked === 0, 
				success : answer.processed === 1 && answer.locked === 0
				}">
					<td>{{answer.id_answers | prettyString}}</td>
					<td>{{answer.kjonn | prettyString}}</td>
					<td>{{answer.sivilstatus | prettyString}}</td>
					<td>{{answer.utdannelse | prettyString}}</td>
					<td>{{answer.programmeringsstil | prettyString}}</td>
					<td>{{answer.personlighet | prettyString}}</td>
					<td>{{answer.hypepreferanse | prettyString}}</td>
					<td>{{answer.musikk | prettyString}}</td>
					<td>{{answer.type | prettyString}}</td>
					<td>{{answer.favorittgode | prettyString}}</td>
					<td>{{answer.planerforkvelden | prettyString}}</td>
					<td>
						
						<!--a button that triggers a modal with the data -->
						<button class="btn btn-primary" data-toggle="modal" data-target="#myModal{{answer.id_answers}}" ng-click="getAnswer(answer.id_answers); answer.locked = 1">
							Behandle svar
						</button>

						<!-- a modal that displays the answers and gives the user the possibility of changing status -->
						<div class="modal" id="myModal{{answer.id_answers}}" role="dialog" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div ng-class = "{'modal-header': true, 'modal-custom-female': oneAnswer.kjonn==='kvinne', 'modal-custom-male': oneAnswer.kjonn ==='mann'}">
										<h4 class="modal-title text-small" id="myModalLabel">Svar: {{oneAnswer.id_answers}}</h4>
									</div>
									<div ng-show="oneAnswer.locked === 0" ng-class="'modal-body text-smaller'">
										<b>Kjønn:</b> {{oneAnswer.kjonn | prettyString}}<br>
										<b>Sivilstatus:</b> {{oneAnswer.sivilstatus | prettyString}}<br>
										<b>Utdannelse: </b> {{oneAnswer.utdannelse | prettyString}}<br>
										<b>Programmeringsstil: </b> {{oneAnswer.programmeringsstil | prettyString}}<br>
										<b>Personlighet: </b> {{oneAnswer.personlighet | prettyString}}<br>
										<b>Hype-preferanse: </b> {{oneAnswer.hypepreferanse | prettyString}}<br>
										<b>Musikk: </b> {{oneAnswer.musikk | prettyString}}<br>
										<b>Type: </b> {{oneAnswer.type | prettyString}}<br>
										<b>Favorittgode: </b> {{oneAnswer.favorittgode | prettyString}}<br>
										<b>Planer for kvelden: </b> {{oneAnswer.planerforkvelden | prettyString}}<br>
									</div>
									<div ng-show="oneAnswer.locked === 1" class="modal-body">
										Dette svaret er låst.
									</div>
									<div class="modal-footer">
											<div ng-show="oneAnswer.locked === 0">
												<button ng-show="oneAnswer.processed === 0" class="btn btn-primary" ng-click="updateStatus(oneAnswer.id_answers)" data-dismiss="modal">Merk som behandlet</button>
												<button ng-show="oneAnswer.processed === 1" class="btn btn-primary" ng-click="updateStatus(oneAnswer.id_answers)" data-dismiss="modal">Merk som ubehandlet</button>
												<button class="btn modal-confirm-delete" data-toggle="modal" data-target="#confirmDeleteSingleModal" data-dismiss="modal">Slett svar</button>
												<button class="btn btn-default" ng-click="closeAndUnlock(oneAnswer.id_answers)" data-dismiss="modal">Lukk</button>
											</div>
											<div ng-show="oneAnswer.locked === 1">
												<button ng-show="oneAnswer.locked === 1" class="btn btn-primary"  ng-click="closeAndUnlock(oneAnswer.id_answers)" data-dismiss="modal">Lås opp</button>
												<button ng-show="oneAnswer.locked === 1" class="btn btn-default" ng-click="getAnswers()" data-dismiss="modal">Lukk</button>
											</div>
									</div>
								</div>
							</div>
						</div>

						<!-- a modal that wants the user to confirm the  -->
						<div class="modal" id="confirmDeleteSingleModal" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class ="modal-header modal-confirm-delete">
										<h4 class="modal-title">Bekreft sletting</h4>
									</div>
									<div ng-class="modal-body">
										Er du sikker på at du vil slette dette svaret?
									</div>
									<div class="modal-footer">
										<button class="btn modal-confirm-delete" name="confirmDeleteSingle" ng-click="deleteAnswer(oneAnswer.id_answers)" data-dismiss="modal">Slett</button>
										<button class="btn btn-primary" data-dismiss="modal" ng-click="closeAndUnlock(oneAnswer.id_answers)">Avbryt</button>
									</div>
								</div>
							</div>
						</div>

					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class="row">
		<div class="col-sm-8 col-sm-offset-1">
			<!--a button that triggers a modal to confirm that you want to delete all answers -->
			<button class="btn btn-def-bouvet" name="deleteAnswers" data-toggle="modal" data-target="#confirmDeleteModal" >
				<span class="glyphicon glyphicon-trash">
				</span>
				Slett alle svar
			</button>

			<button class="btn btn-def-bouvet" ng-click="findNextUnprocessed()" ng-disabled="numberOfUnprocessed <= 0" ng-show="viewAll">
				Se neste ubehandlede
			</button>

			<button class="btn btn-def-bouvet" ng-click="toggleViewAll()">
				<span ng-show="viewAll">Se bare ubehandlede</span>
				<span ng-hide="viewAll">Se alle</span>
			</button>
		</div>

		<div class="col-sm-3">
			<button class="btn btn-def-bouvet" ng-click="tenFirstAnswers()" ng-disabled="startAnswers <= 0">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>

			<button class="btn btn-def-bouvet" ng-click="tenPrevAnswers()" ng-disabled="startAnswers <= 0">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>

			<button class="btn btn-def-bouvet" ng-click="tenNextAnswers()" ng-disabled="startAnswers >= answers.length - 10">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>

			<button class="btn btn-def-bouvet" ng-click="tenLastAnswers()" ng-disabled="startAnswers >= answers.length - 10">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3 col-sm-offset-1">
			<button class="btn btn-def-bouvet" name="exportAnswers" ng-click="exportAnswers()" >
				Eksporter svar
			</button>
		</div>
	</div>

		<!--a modal that wants you to confirm that you want to delete all answers -->
		<div class="modal" id="confirmDeleteModal" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content ">
					<div class ="modal-header modal-confirm-delete">
						<h4 class="modal-title">Bekreft sletting</h4>
					</div>
					<div ng-class="modal-body">
						Er du sikker på at du vil slette alle svarene i databasen?
					</div>
					<div class="modal-footer">
						<button class="btn modal-confirm-delete" name="confirmDelete" ng-click="deleteAnswers()" data-dismiss="modal">Slett alle</button>
						<button class="btn btn-primary" data-dismiss="modal">Avbryt</button>
					</div>
				</div>
			</div>
		</div>
		
</div>