<div class="container-fluid btn-group-custom body-bouvet">

		
		<!--a button that takes you the page where all the answers in the database are displayed -->
		<div>
			<a href="#/partial-view-answers" name="seeAllAnswers" class="btn btn-def-bouvet btn-block btn-front-large">
				<span class="glyphicon glyphicon-list"></span>
				Se alle svar
			</a>
		</div>

		<br>

		<!--a button that takes you to the page to start registering answers -->
		<div>
			<a href="#/partial-start" name="registerAnswer" class="btn btn-def-bouvet btn-block btn-front-large">
				<span class="glyphicon glyphicon-pencil"></span>
				Registrere svar
			</a>
		</div>

		<br>

		<!--a button that takes you to a page that displays all the participants in the database -->
		<div>
			<a href="#/partial-view-participants" name="seeAllParticipants" class="btn btn-def-bouvet btn-block btn-front-large">
				<span class="glyphicon glyphicon-user"></span>
				Se alle deltakere
			</a>
		</div>
	</div>