	<div class="container">
			<h2 class="text-orange text-large top-pad">The Beauty of Data</h2>
				
			<h6 class="text-white"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h6>
		
			<p class="text-white text-small">Vakkert i seg selv. Viktig for den det gjelder.</p>

			<!-- a button taking you to the page for registering answer-->
			<div>
				<a href="#/partial-register-answer" class="btn btn-def-bouvet btn-start">
					Start
				</a>
			</div>

			<div class="logo-bottom-bouvet"> <img src="./photos/logo1.png"> </div>
	</div>