<div class="container middle-pos">
	
	<div class="row top-pad-medium bottom-pad-small">
		
			<!--a button that takes you back to the menu -->
			<div class="col-sm-2 col-sm-offset-1">
				<a href="#/partial-index.html" name="menuButton" class="btn btn-def-bouvet">
					<span class="glyphicon glyphicon-home">
					</span>
					Tilbake til meny
				</a>
			</div>
			
			<div class="col-sm-3 col-sm-offset-2 text-smaller text-white top-pad-small">
				Totalt antall svar: {{answers.length}}
			</div>	
			<br/>
			<h2 class="text-orange text-large top-pad">The beauty of data</h2>
			<h6 class="text-white"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h6>
			<p class="text-white text-smaller">Vakkert i seg selv. Viktig for den det gjelder.</p>	
			<h6 class="text-white"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h6>	
	</div>	
	
	
	<style>
	    .container-canvas {
	        /* This could be done in one single declaration. See the extended sample. */
	        margin-right: auto;
	        margin-left: auto;
	        width: 100%;
	    }
		canvas {
		            
		            
		            left: 0;
		            right: 0;
		            width: 100%;
		           
		        }
	</style>

	<div class="container-canvas">
	    <canvas drawing id="mycanvas" width="800" height="480"></canvas>
	</div>
		
</div>