		<div class="text-large text-orange"> &nbsp <img src="./photos/logo_medium.png"> </div>
		<br>


		<form name="answerForm" ng-submit="submitAnswer()" novalidate>
			


		<div class="container">
			<div ng-repeat="col in questions">
				<div ng-class="{'col-sm-3 container' : true, 'col-left-border': col === questions.BsecondCol || col === questions.CthirdCol || col === questions.DfourthCol}">	
					<div ng-repeat="question in col">
						<div ng-class="{'btn-group-vertical' : true, 'col-bottom-border' : !$last}" id="{{question.name}}" data-toggle="buttons">
							<div class="header-question">{{question.title}}:</div><br>
							<label ng-repeat="option in question.options"class="btn btn-response" name="{{option.value}}">
								<input type="radio" name="{{question.name}}" value="{{option.value}}" ng-model="formData[question.name]" make-radio-button-detect-change required>{{option.output}}<br>
							</label>
								<br>
						</div>
						<br>
						<br ng-hide="$last">
					</div>
					<br ng-show="col === questions.BsecondCol || col === questions.DfourthCol">
				</div>
			</div>
		</div>
		<br><br>

			<div class="container">
	<!--			<button ng-disabled="answerForm.$invalid" class="btn btn-def-bouvet" name="registerButton" type="submit"> -->
				<button class="btn btn-def-bouvet" name="registerButton" type="submit">
					Registrer svar
				</button>
			</form>
		</div>
		<br><br>	
	</div>