	<div class="container">

			<h2 class="text-orange text-large top-pad">The Beauty of Data</h2>
			<h6 class="text-white"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h6>
			<p class="text-white text-smaller">Vakkert i seg selv. Viktig for den det gjelder.</p>

			<br><br><br>
			<div class="text-white">
				<p>	Takk for din påmelding! </p>
				<p> Du vil bli kontaktet på din epostadresse hvis du vinner. </p>
				</div>
				<br>

					<a href="#/partial-index"class="btn btn-def-bouvet">
						<span class="glyphicon glyphicon-home">
						</span>
						Tilbake til meny
					</a>
					<br><br><br>
				<div class="logo-bottom-bouvet-absolute"> <img src="./photos/logo1.png"> </div>
			</div>