<div class="text-large"> &nbsp <img src="./photos/logo_medium.png"> </div>


<div class="container middle-pos">	
	<h2 class="text-orange text-large top-pad">The Beauty of Data</h2>
	<h6 class="text-white"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h6>
	<p class="text-white text-smaller">Vakkert i seg selv. Viktig for den det gjelder.</p>
	
	<br>

	<div class="text-white">
		<p> Dine svar er nå registrert.</p>
		
		<p> Hvis du vil være med i trekningen av premien, kan du fylle
			ut informasjonen under. </p>
		<p> Bouvet vil ikke bruke informasjonen til noe annet formål enn selve trekningen.</p> 
		<p>Data vil bli slettet etter trekningen.</p>
	</div>

	<br>


	<form class="form-horizontal" name="userForm" ng-submit="submitParticipant()" novalidate>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-4">
				<input type="text" class="form-control form-field text-white" name="participantName" placeholder="Navn" ng-model="participant.name" required ng-maxlength="90">
			</div>
		</div>
		<p ng-show="userForm.participantName.$error.maxlength" class="help-block has-error-custom">
			Navnet er for langt, maks lengde er 90 tegn.
		</p>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-4">
				<input type="email" class="form-control form-field text-white" name="participantEmail" placeholder="Email eller telefonnummer" ng-model="participant.email" required ng-maxlength="90" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$|^[0-9]{8}$/">
			</div>
		</div>
		<p ng-show="userForm.participantEmail.$error.maxlength" class="help-block has-error-custom">
			Kontaktinformasjonen er for lang, maks lengde er 90 tegn.
		</p>
		<p ng-show="duplicateEmail === participant.email" class="help-block has-error-custom">
			Denne kontaktinformasjonen er allerede registrert.
			Vennligst prøv en annen.
		</p>
		
		<p ng-show="userForm.participantEmail.$dirty && userForm.participantEmail.$error.pattern"
		
		class="help-block has-error-custom">
			Kontaktinformasjonen må inneholde enten telefonnr eller epost
		</p>
		
		<br>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<button type="submit" name="submitButton" class="btn btn-def-bouvet" ng-disabled="
				(userForm.participantName.$invalid 
				|| duplicateEmail === participant.email 
				|| userForm.participantEmail.$error.pattern 
				|| userForm.participantEmail.$error.required)
				">Submit info</button>
			</div>
		</div>
	</form>

	<br>

	<div>
		<a href="#/partial-start" name="escapeButton" class="btn btn-escape text-small">
			Nei takk
		</a>
		<br>
	</div>


	<br><br><br><br>

	<div>
		<a href="#/visualize-single" name="visualiser" class="btn btn-def-bouvet">
			Se visualisering
		</a>
	</div>
</div>