

h1 {
	color:orange;
	font-size: 45px;
}


p {
	color: white;
}

body {
	background: black;
}

form {

	color: white	;
}

.fieldset {
	border: 1px dotted #61B5CF;
    margin: 1.4em 0 0 1em;
    padding: 0.6em;
    float: left;
}

.container-left {  
    position:absolute;
	left:50px;
	top:150px;
}

.container-middle {
	position:absolute;
	left:400px;
	top:150px;
}
.container-right {
	position:absolute;
	left:750px;
	top:150px;
}